#rect1 {

    background-color: rgb(133, 59, 133);

}

#rect2 {
    background-color: red;
    text-align: center;
}

#rect3 {
    background-color: rgb(133, 59, 133);
}

.rectangle {
    height: 300px;
}